body{
  display: flex;
  margin: 0;
  background-color: rgb(250, 255, 212);
  
}

p{
  padding: 20px;
  font-weight: 900;
  font-size: 15px;
}

.bigImg{
  max-width: 400px;
  width: 40%;
  height: 100vh;
}
.container{
  margin-top: 70px;
}
.linedImg{
  position: absolute;
  width: 100px;
  background-color: #000000b0;
  padding-right: 160px;
}
.logoText{
  position: absolute;
  color: aliceblue;
  font-size: 60px;
  margin-left: 100px;
  margin-top: 30px;
}

.headTable{
  font-size: 20px;
  margin-bottom: 10px;
}

.blocks{
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
input:focus{
  border-color: rgb(130, 130, 236);
}
input:invalid{
  border-color: red;
}
input:valid{
  border-color: green;
}

.highlight{
  padding: 20px;
  margin: 0;
  background-color:  rgb(252, 252, 252);;
}

button{
  margin: 15px;
  padding: 8px;
  font-weight: 700;
  border-radius: 10% 10% 10% 10%;
  background-color: #596D48;
  border: #596D48;
}
.login{
  margin-bottom: 8px;
  margin-left: 8px;
}